<h1>Welcome to Craig's List JR!</h1>
<h2>Categories:</h2>
<table>
  <thead>
    <tr>
    <th>Id</th>
    <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td></td>
        <td><a href="/category/<%= category.name %>"><%= category.name %></a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  



<!-- <a href="/Cars">Car Listings</a>
<a href="/Apartments">Apartment Listings</a>
<a href="/Other">Other Listings</a> -->
