<h1>Welcome to Craig's List JR!</h1>
<h2>Categories:</h2>
<table>
  <thead>
    <tr>
    <th>Id</th>
    <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |each| %>
      <tr>
        <td><a href="/"


<!-- <a href="/Cars">Car Listings</a>
<a href="/Apartments">Apartment Listings</a>
<a href="/Other">Other Listings</a> -->
